

<%= map(:center => {
  :latlng => [23.13600916719015, -82.38191485404968],
  :zoom => 18
}) %>

<div id="sidebar" class="sidebar collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li>
        <%= link_to root_path role: 'tab' do %>
        <i class="reply icon"></i>
        <% end %>
      </li>
      <li><a href="#home" role="tab"><i class="content icon"></i></a></li>
      <li><a href="#profile" role="tab"><i class="map pin icon"></i></a></li>
      <!-- <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li> -->
      <!-- <li><a href="https://github.com/Turbo87/sidebar-v2" role="tab" target="_blank"><i class="fa fa-github"></i></a></li> -->
    </ul>

    <ul role="tablist">
      <!-- <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li> -->
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane" id="home">
      <h1 class="sidebar-header" id="markerHeader">

      </h1>

      <div id="markerDescription">

      </div>

      <div id="markerQuestions">

      </div>
    </div>

    <div class="sidebar-pane" id="profile">
      <h1 class="sidebar-header">Create marker</h1>
      <%= form_tag create_marker_path, class: "ui form" do %>
          <div class="field">
            <label>Name</label>
            <input type="text" name="marker[name]" value="">
          </div>
          <div class="field">
            <label>Description</label>
            <input type="text" name="marker[description]" value="">
          </div>
          <div class="field">
            <label>Color</label>
            <input type="text" name="marker[color]" value="">
          </div>
          <input type="hidden" name="marker[lat]" id='lat' value="">
          <input type="hidden" name="marker[lng]" id='lng' value="">
          <%= submit_tag "Submit", class: 'ui button' %>
      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript">

  var sidebar = L.control.sidebar('sidebar', {position: 'right'}).addTo(map);

  map.on('click', function(m){
    $('#lat').attr('value', m.latlng.lat)
    $('#lng').attr('value', m.latlng.lng)
  })

</script>

<script type="text/javascript">
    <% @markers.each do |marker| %>
		var marker = L.AwesomeMarkers.icon({
		  markerColor: '<%= marker.color %>',
      iconColor: 'white'
		});

		L.marker([<%= marker.lat %>, <%= marker.lng %>], {icon: marker}).addTo(map).on('click', function () {
      document.getElementById('markerHeader').innerHTML = '<%= marker.name %>'
      document.getElementById('markerDescription').innerHTML = '<%= marker.description %>'
      <% marker.queries.each do |query| %>

      <% end %>
	  });
    <% end %>
</script>
