<!DOCTYPE html>
<html>
  <head>
    <title>InfoUH</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.svg' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'partials/resources/flat_css'%>
    <%= render partial: 'partials/resources/tabs_css'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'partials/resources/flat_js'%>
    <%= render partial: 'partials/resources/tabs_js'%>
  </head>

  <body>
    <%= render partial: 'partials/navbar' %>
    <%= yield %>
    <%= render partial: 'partials/footer' %>
  </body>
</html>
